nav .nav-link {
  display: inline;
  width: 200px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #63e6be;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
}

nav .nav-link:hover {
  background-color: #63e6be;
  color: white;
}

nav .nav-link.active {
  background-color: #38d9a9;
  color: white;
}
